<!--{% extends 'base.html' %}-->

<!--{% block body %}-->

<!--<h1>newspage</h1>-->
<!--<p>hon</p>-->
<!--<h1>{{data.author}}</h1>-->
<!--<h1>{{data.title}}</h1>-->
<!--<h1>{{data.description}}</h1>-->
<!--{{list}}-->

<!--&lt;!&ndash;{% for lang in list %}&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>{{lang}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->

<!--&lt;!&ndash;{% if mynum == 40 %}&ndash;&gt;-->
<!--&lt;!&ndash;<h1>true</h1>&ndash;&gt;-->

<!--&lt;!&ndash;{% else %}&ndash;&gt;-->
<!--&lt;!&ndash;<h1>false</h1>&ndash;&gt;-->

<!--&lt;!&ndash;{% endif %}&ndash;&gt;-->




<!--{% endblock %}-->